body {
    font-family: sans-serif;
}

 main img{
     margin: 40px;
}

 img{
     height: 40px;
}

header{
    background-color: #E28FC6;
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    text-align: center;
}

h1{
   border-radius: 20px;
   color: #E28FC6;
    text-align: center;
}

footer p{
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

footer{
    background-color: #E28FC6;
    padding: 10px;
}
